@import "../../styles/globals.scss";
@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;

  .labeledControl {
    display: flex;
    flex-direction: column;

    &-top {
      flex-direction: column;
    }

    &-bottom {
      flex-direction: column-reverse;
    }

    &-right {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;

      label {
        margin: 8px;
      }
    }

    &-left {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      label {
        margin: 8px;
      }
    }
  }

  label {
    margin-bottom: 8px;
    font-size: 16px;
    outline: none;
  }

  p {
    font-size: 12px;
  }
}

.errorMessage {
  color: $error;
  font-size: 12px;
}

.fullWidth {
  width: 100%;
}
