@import "../../styles/globals.scss";
@import "../../styles/variables.scss";

.container {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 8px;
        font-size: 16px;
        outline: none;
    }

    p {
        font-size: 12px;
    }
}

.errorMessage {
    color: $error;
    font-size: 12px;
}

.fullWidth {
    width: 100%;
}