@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  // global typography
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4px;
}
