
//colors
$primary: #3800CC;
$primary-light: #793EFF;
$primary-dark: #000099;

$secondary: #00F6E0;
$secondary-light: #6DFFFF;
$secondary-dark: #00C2AE;

$light: #fafafa;
$dark: #141414;
$grey-light: #bdbdbd;
$grey-dark: #7a7a7a;

$success: #00c493;
$error: #dc2b67;

$default-gradient: linear-gradient(45deg, $primary 25%, $secondary 100%);
